<div class="modal-header">
    <h4 class="modal-title">Add a Log</h4>
</div>
<div class="modal-body col-md-12">
    <form>
        <div class="form-group">
            <label>Type</label>
            <input type="text" class="form-control input-lg" ng-model="newLog.type">
        </div>
        <div class="form-group">
            <label>URL</label>
            <input type="text" class="form-control input-lg" ng-model="newLog.url">
        </div>
        <div class="form-group">
            <label>Message</label>
            <input type="text" class="form-control input-lg" ng-model="newLog.message">
        </div>
        <div class="form-group">
            <label>Browser</label>
            <input type="text" class="form-control input-lg" ng-model="newLog.browser">
        </div>
        <div class="form-group">
            <label>Stack Trace</label>
            <input type="text" class="form-control input-lg" ng-model="newLog.stackTrace">
        </div>
        <div class="form-group">
            <label>Custom Data</label>
            <input type="text" class="form-control input-lg" ng-model="newLog.customData">
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="button-group">
        <button class="btn btn-info" ng-click="save(newLog)" style="width:20%;">Save</button>
        <button class="btn btn-primary" ng-click="cancel()" style="width:20%;">Cancel</button>
    </div>
</div>
